<h1> Tasklist Hub </h1>
<%=link_to "Create a New Tasklist", new_tasklist_path(@tasklist)%><br />

<%=current_user.tasklists.each do |tasklist|%>%>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title"><%=link_to "#{tasklist.title}", tasklist_path(tasklist)%></h3>
    <h6 class="card-subtitle mb-2 text-muted"><%=tasklist.description%></h6>
    <p class="card-text">Number of Tasks: <%=tasklist.tasks.count%></p>
    <p class="card-text">Incomplete Tasks: <%=tasklist.tasks.total_complete.count%>
  </div>
</div>
<br>
<%end%>